.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-holder {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 80%;
  width: 80%;
  align-items: center;
  box-shadow: 0 3px 3px 6px grey;
}

.card-image {
  height: 50%;
  width: 50%;
  margin: 15px;
}

.card-details {
  height: 30%;
  margin-top: 30px;
}

.products-table {
  cursor: pointer;
}


